<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-sucess">
  <div class="container px-5">
    <a class="navbar-brand">
      <img src="assets/img/logo.jpg" width="30" height="30" class="d-inline-block align-top text-decoration-none"
        alt="">
      Coffe Place
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/inicio'" [routerLinkActive]="'active'">Inicio</a>
        </li>

        <!-- aqui agregar componentes-->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/inicio'" [routerLinkActive]="'active'">Inicio</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/inicio'" [routerLinkActive]="'active'">Inicio</a>
        </li>



      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>



<!-- Footer -->
<footer id="footer" class="py-5 bg-sucessf">
  <div class="container px-4 px-lg-5">

    <!-- Footer Social Icons-->

    <div class="container-fluid py-4 px-sm-3 px-md-5">
      <div class="text-center">
        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-instagram"></i></a>
        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
      </div>

    </div>
    <!-- 
    <div class="row">
      <div class="col-lg-4 col-md-2 mb-4">
        <h3 style="text-align: center;">MÓDULOS</h3>
        <ul>
          <li><a href="#" class=" text-dark"> Inicio</a></li>
          <li><a href="#" class=" text-dark">Promociones</a></li>
          <li><a href="#" class=" text-dark">Menú</a></li>
          <li><a href="#" class=" text-dark">Pedido</a></li>
          <li><a href="#" class=" text-dark">Registro</a></li>
        </ul>
      </div>

      <div id="location" class="col-lg-4 col-md-2 mb-4">
        <h3>¿DÓNDE ESTAMOS?</h3>
        <br>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63836.94209578504!2d-78.55102366874995!3d-0.12463279999999574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d5855942a63c4f%3A0xbdc5d08dacbed0ee!2sSpeed%20Coffee!5e0!3m2!1ses-419!2sec!4v1676526201055!5m2!1ses-419!2sec"
          style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

      <div id="info" class="col-lg-4 col-md-2 mb-4">
        <h3 style="text-align: center;">CONTACTOS</h3>
        <h5 style="font-weight: bold;">Dirección</h5>
        <a href="#" class="icon" style="color: black;">?</a>
        <span>Calle OE6F y pasaje T50E</span>
        <h5 style="font-weight: bold;">Teléfonos</h5>
        <a href="#" class="icon" style="color: black;">u</a>
        <span>0123456789</span>
        <h5 style="font-weight: bold;">Correo</h5>
        <a href="#" class="icon" style="color: black;">@</a>
        <span>contacto@coffeplace.com</span>

      </div>

    </div>
-->

    <div class="container-fluid py-4 px-sm-3 px-md-5">
      <p class="m-0 text-center text-black">Copyright &copy; Coffe-Place Website 2023 <br>
        Designed by <i> Mayra, Elisa, Doménica</i>

      </p>
      <a href="#" class="back-to-top text-black"
        style="text-decoration: none; text-align: left; font-weight: bold;">Subir</a>

    </div>


  </div>
</footer>

<!--
<footer class="py-5 bg-sucess">
  <div class="container px-4 px-lg-5">

    <div class="row">

      <div class="col-lg-4 col-md-7 mb-6">
        <h5>MENÚ</h5>
        <ul>
          <li><a href="#">INICIO</a></li>
          <li><a href="#">LIBROS</a></li>
          <li><a href="#">GUARDAR LIBRO</a></li>
          <li><a href="#">CONTACTO</a></li>
        </ul>
      </div>

      <div id="location" class="col-lg-4 col-md-7 mb-6">
        <h5>¿DONDE ESTAMOS?</h5>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.790919037427!2d-78.49060429999999!3d-0.21234740000000935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59a107e1cd44b%3A0x88a284f66939ed4!2sESCUELA%20POLIT%C3%89CNICA%20NACIONAL!5e0!3m2!1ses-419!2sec!4v1670456694655!5m2!1ses-419!2sec"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

      <div id="info" class="col-lg-4 col-md-7 mb-6">
        <h5>CONTACTOS</h5>
        <h2>DIRECCION</h2>
        <a href="#" class="icon">?</a>
        <span>Calle OE6F y pasaje T50E</span>
        <h2>Teléfonos</h2>
        <a href="#" class="icon">u</a>
        <span>0123456789</span>
        <h2>Correo:</h2>
        <a href="#" class="icon">@</a>
        <span>contacto@libreriaabc.com</span>
      </div>

    </div>



    <div class="container-fluid py-4 px-sm-3 px-md-5">

      <p class="m-0 text-center text-white">Copyright &copy; Coffe-Place Website 2023 <br>
        Designed by <i> Mayra, Elisa, Doménica</i>
      </p>

    </div>
  
  </div>
</footer> -->