<!-- Responsive navbar-->


<nav class="navbar navbar-expand-lg navbar-dark bg-sucess">
  <div class="container px-5">
    <a class="navbar-brand">
      <img src="assets/img/logo.jpg" width="30" height="30" class="d-inline-block align-top text-decoration-none"
        alt="">
      Coffe Place
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/Inicio'" [routerLinkActive]="'active'">Inicio</a>
        </li>

        <!-- aqui agregar componentes-->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/Menú'" [routerLinkActive]="'active'">Menú</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/registro'" [routerLinkActive]="'active'">Iniciar sesión 📥</a>
        </li>



      </ul>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>



<!-- Footer -->
  <footer class="py-5 bg-sucessf">
  <div class="container px-4 px-lg-5">

    <!-- Footer Social Icons-->

    <div class="container-fluid py-4 px-sm-3 px-md-5">
      <div class="text-center">
        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-instagram"></i></a>
        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
      </div>

    </div>

    <div class="container-fluid py-4 px-sm-3 px-md-5">
      <p class="m-0 text-center text-black">Copyright &copy; Coffe-Place Website 2023 <br>
        Designed by <i> Mayra, Elisa, Doménica</i>
      </p>
      <!--
      <a href="#" class="back-to-top text-black"
        style="text-decoration: none; text-align: right; font-weight: bold;">Subir</a>
-->
    </div>
  </div>
</footer>
