<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <h1 class="text-center text-uppercase text-secondary mb-0">Estamos Aquí</h1>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>

    <!-- Mapa-->
    <div class="mapa row gx-4 gx-lg-5 align-items-center my-5">
        <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63836.864583871546!2d-78.5377586117527!3d-0.1533147213628827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59a5989171b75%3A0xcb87302c51f1645!2sLa%20Casa%20de%20la%20Humita%20y%20el%20Tamal%20Lojano!5e0!3m2!1ses-419!2sec!4v1676953828579!5m2!1ses-419!2sec" width="700" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <!-- Contacto-->        
    <div class="contacto">
        <h1 class="text-center text-uppercase text-secondary mb-0">CONTACTO</h1>
        <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
        <p>
            <h2 >Dirección:</h2>
            <a href="#" class="icon">?</a>
            <h5> Selva Alegre Selva Alegre, Y Oe8-255 y, Quito 170521 <br></h5>

            <h2>Teléfonos:</h2>
            <a href="#" class="icon">u</a>
            <h5> 1800 486 482 <br></h5>
            
            <h2>Correo:</h2>
            <a href="#" class="icon">@</a>
            <h5> info@lacasadelahumita.ec <br></h5>   
        <p>
    </div>

    <!-- Formulario de Contacto-->

    <div class="formulario">
            <h1 class="text-center text-uppercase text-secondary mb-0">FORMULARIO DE CONTACTO</h1>
        <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <h4>
            <b>Envíanos tus datos y recibe un cupón del mes, además
            te mantendremos al día con nuestras promociones.</b></h4>

            <div class="formularioContacto">
                <br>
                            <h2>{{titulo}}</h2>
                <form #contactoForm="ngForm" (ngSubmit)="guardarContacto(contactoForm)">
                    <p>
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="contacto.nombre" required>
                        <span *ngIf="nombre.touched && !nombre.valid">
                            Ingrese su nombre
                        </span>
                    </p>
                    <p>
                        <label for="apellido">Apellido</label>
                        <input type="text" name="apellido" #apellido="ngModel" [(ngModel)]="contacto.apellido" required>
                        <span *ngIf="apellido.touched && !apellido.valid">
                            Ingrese su apellido
                        </span>
                    </p>
                    <p>
                        <label for="telefono">Teléfono</label>
                        <input type="text" name="apellido" #telefono="ngModel" [(ngModel)]="contacto.telefono" required>
                        <span *ngIf="telefono.touched && !telefono.valid">
                            Ingrese un teléfono
                        </span>
                    </p>
                    <p>
                        <label for="email">Email o Correo</label>
                        <input type="text" name="email" #email="ngModel" [(ngModel)]="contacto.email" required>
                        <span *ngIf="email.touched && !email.valid">
                        Ingrese su email o correo
                        </span>
                    </p>
                    <p>
                        <label for="mensaje">Mensaje</label>
                        <input type="text" name="mensaje" #mensaje="ngModel" [(ngModel)]="contacto.mensaje" required>
                        <span *ngIf="mensaje.touched && !mensaje.valid">
                            Ingrese su mensaje
                        </span>
                    </p>
                    <input type="submit" value="Guardar" [disabled]="!contactoForm.form.valid">
                </form>

                <div class="message success" *ngIf="status=='success'">
                    Su mensaje ha sido envido
                </div>

                <div class="message failed" *ngIf="status=='failed'">
                   No se ha podido enviar el mensaje Intentelo otra vez
                </div>

            </div>

            <div class="col-lg-2">

        </div>

        
    </div>

</div>
    