<!-- bloquear el iniciar sesión 
o reemplazarlo por el logout :)-->

<body appCBody>
    <div class="container px-4 px-lg-5">
        <div class="card text-white py-4" style="background-color: transparent;">
            <div class="row gx-4 gx-lg-5 align-items-center " style=" margin: 50px;">
                <div class="col-lg-5">
                    <div *ngIf="error!==''"
                        style="background-color: rgb(241, 105, 105); display: flex; align-items: center;">
                        <p style="margin: 5px 10px; padding: 5px 10px; color: white; border-left: 2.5px solid white;">
                            Error: {{error}}</p>
                    </div>
                    <form class="user" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                        <div id="username" class="form-group">
                            <label for="username">Usuario</label>
                            <input type="text" name="username" #username="ngModel" [(ngModel)]="model.user" required
                                pattern="" class="form-control form-control-user" placeholder="Usuario" />
                            <span *ngIf="username.touched && !username.valid">
                                * Usuario es obligatorio
                            </span>
                        </div>
                        <br>

                        <div id="password" class="form-group">
                            <label for="password">Contraseña</label>
                            <input type="password" name="password" [(ngModel)]="model.password" #password="ngModel"
                                required class="form-control form-control-user" placeholder="Contraseña" />
                            <span *ngIf="password.touched && !password.valid">
                                * Contraseña es obligatorio
                            </span>
                        </div>
                        <br>

                        <div class="form-group">
                            <label for="password">Rol</label>
                            <select class="form-control form-control-user" type="text" name="rol" #rol="ngModel"
                                [(ngModel)]="model.rol" required pattern="(empleado|cliente)">
                                <option value="" disabled selected>Elige una opción &dtrif; </option>
                                <option value="cliente">Cliente</option>
                                <option value="empleado">Empleado</option>
                            </select>
                            <span *ngIf="rol.touched && !rol.valid">
                                * El rol es obligatorio
                            </span>
                        </div>
                        <br>

                        <div class="form-group">
                            <input type="submit" value="Guardar" [disabled]="!loginForm.form.valid"
                                class="btn btn-sucess text-bold btn-block">
                            <br>
                            <span *ngIf="status!='success'">Si no tienes una cuenta, <a [routerLink]="'/registro'"
                                    class="btn btn-link">Registrate!</a></span>
                        </div>
                    </form>
                </div>

                <div class="col-lg-2">

                </div>

                <div class="col-lg-5">
                    <h1 class="font-weight-light">{{title}} :)</h1>
                    <p>
                        <br><br>
                        Para recibir tus facturas, información de <br> promociones y ofertas, registra tu correo.
                    </p>
                </div>

            </div>

        </div>
    </div>

</body>
