<div class="container px-4 px-lg-5">

    <h2>Perfil</h2>
    <div class="row gx-4 gx-lg-5 align-items-center " style=" margin: 50px;">
        <div class="col-lg-5">


            <form class="user" #formReg="ngForm">

                <div id="correo" class="form-group">
                    <label for="correo">Correo</label>
                    <input type="text" name="correo" #correo="ngModel" [(ngModel)]="reg.correo" required pattern=""
                        class="form-control form-control-user" placeholder="Correo" />
                    <span *ngIf="correo.touched && !correo.valid">
                        * Correo es obligatorio
                    </span>


                </div>

                <div class="form-group">
                    <label for="nombres">Nombres Completos</label>
                    <input type="text" name="nombres" #nombres="ngModel" [(ngModel)]="reg.nombre" required
                        pattern="[a-zA-Z]+" class="form-control form-control-user" placeholder="Nombres Completos" />
                    <span *ngIf="nombres.touched && !nombres.valid">
                        * Nombre es obligatorio
                    </span>
                </div>


                <br>

                <div class="form-group">
                    <label for="apellidos">Apellidos Completos</label>
                    <input type="text" name="apellidos" #apellidos="ngModel" [(ngModel)]="reg.apellido" required
                        pattern="[a-zA-Z]+" class="form-control form-control-user" placeholder="Apellidos Completos" />
                    <span *ngIf="apellidos.touched && !apellidos.valid">
                        * Apellido es obligatorio
                    </span>
                </div>
                <br>

                <div class="form-group">
                    <label for="domicilio">Domicilio</label>
                    <input type="text" name="domicilio" #domicilio="ngModel" [(ngModel)]="reg.domicilio" required
                        class="form-control form-control-user" placeholder="Domicilio" />
                    <span *ngIf="domicilio.touched && !domicilio.valid">
                        * Domicilio es obligatorio
                    </span>
                </div>
                <br>

                <div class="form-group">
                    <label for="telefono">Teléfono</label>
                    <input type="text" name="telefono" #telefono="ngModel" [(ngModel)]="reg.telefono" required
                        pattern="[0-9]+" class="form-control form-control-user" placeholder="Teléfono" />
                    <span *ngIf="telefono.touched && !telefono.valid">
                        * Teléfono es obligatorio
                    </span>
                </div>
                <br>


                <input type="submit" name="Continuar" [disabled]="!formReg.form.valid"
                    class="btn btn-primary btn-sucess btn-block" value="Continuar">


            </form>



        </div>

        <div class="col-lg-2">

        </div>

        <div class="col-lg-5">
            <img src="assets/img/7.png" alt="" style="width: 350px; height: 350px;">
        </div>
    </div>

</div>