<!--Inicio carrucel-->
<link href="" rel="stylesheet" type="text/css" />
<body>
    <div id="carrusel-contenido">
        <div id="carrusel-caja">
            <div class="carrusel-elemento">
                <img class="imagenes" src="../../assets/img/carrucel1.jpg" >
            </div>
            <div class="carrusel-elemento">   
                <img class="imagenes" src="../../assets/img/carrucel2.jpg">
            </div>
            <div class="carrusel-elemento">   
                <img class="imagenes" src="../../assets/img/carrucel3.jpg">
            </div>
        </div>
    </div>
</body>
<!--Fin carrucel-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <h3 style="color:lightgreen">"Tu Cafetería"</h3>
    <p style="color:darkgreen">"Despierta tus sentidos con cada sorbo"</p>
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
 <!-- Inicio Tarjetas-->
      <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100" style="box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.8)">
                <div class="card-body">
                    <h2 class="card-title" style="text-align:center; color:darkgreen">Lunes</h2>

                    <p class="card-text">
                        <img src="../../assets/img/lunes.jpg" class="img-fluid rounded mb-4 mb-lg-0" style="display:block; margin:auto;">
                    </p>
                   

                </div>
                <div class="card-footer" style="background-color:#85b434;">
                    <h5>2x1 en Toda nuestra linea de postres</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100" style="box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.8)">
                <div class="card-body" >
                    <h2 class="card-title" style="text-align:center; color:darkgreen">Martes</h2>

                    <p class="card-text">
                        <img src="../../assets/img/martes.jpg" class="img-fluid rounded mb-4 mb-lg-0" style="display:block; margin:auto;">
                       
                    </p>
                   

                </div>
                <div class="card-footer" style="background-color:#85b434;">
                    <h5>2x1  en Toda nuestra linea de cafeteria</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100" style="box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.8)">
                <div class="card-body" >
                    <h2 class="card-title" style="text-align:center; color:darkgreen">Miércoles loco</h2>
                    <p class="card-text"></p>
                    <img src="../../assets/img/miercoles.jpg" class="img-fluid rounded mb-4 mb-lg-0" style="display:block; margin:auto;">

                </div>
                <div class="card-footer" style="background-color:#85b434;">
                    <h5>Ven y disfruta de nuestros miércoles locos! 
                        <br>
                        Promoción válida solo en nuestor local
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100" style="box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.8)">
                <div class="card-body" >
                    <h2 class="card-title" style="text-align:center; color:darkgreen">Jueves</h2>
                    <p class="card-text">
                        <img src="../../assets/img/jueves.jpg" class="img-fluid rounded mb-4 mb-lg-0" style="display:block; margin:auto;">
                    </p>
                   

                </div>
                <div class="card-footer" style="background-color:#85b434;">
                    <h5>Obten el 20% de descuento en todo tipo de bebidas</h5>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-5">
            <div class="card h-100" style="box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.8)">
                <div class="card-body" >
                    <h2 class="card-title" style="text-align:center; color:darkgreen">Viernes</h2>
                    <p class="card-text">
                        <img src="../../assets/img/viernes.png" class="img-fluid rounded mb-4 mb-lg-0" style="display:block; margin:auto;">
                    </p>
                   
                </div>
                <div class="card-footer" style="background-color:#85b434;">
                    <h5>Consintamos a los pequeños del hogar los niños NO PAGAN hasta los 10 años</h5>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-5">
            <div class="card h-100" style="box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.8)">
                <div class="card-body" >
                    <h2 class="card-title" style="text-align:center; color:darkgreen">Sábado</h2>
                    <p class="card-text">
                        <img src="../../assets/img/sabado.jpg" class="img-fluid rounded mb-4 mb-lg-0" style="display:block; margin:auto;">
                    </p>
                   

                </div>
                <div class="card-footer" style="background-color:#85b434;">
                    <h5>Sábado en familia!</h5>
                </div>
            </div>
        </div>

    </div>
</div>
     <!--Fin Tarjetas-->

     <h3 style="color:lightgreen">"Nuestro Café"</h3>
<div id="taller">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/df3JeXVWYWA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>


    

