<!--Inicio carrucel-->
<link href="" rel="stylesheet" type="text/css" />
<body>
    <div id="carrusel-contenido">
        <div id="carrusel-caja">
            <div class="carrusel-elemento">
                <img class="imagenes" src="../../assets/img/imagen1.png" >
            </div>
            <div class="carrusel-elemento">   
                <img class="imagenes" src="../../assets/img/imagen2.png">
            </div>

            <div class="carrusel-elemento">   
                <img class="imagenes" src="../../assets/img/imagen2.png">
            </div>
        </div>
    </div>
</body>
<!--Fin carrucel-->

-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <h3>"Tu Cafeteria"</h3> 
    <p>"Despierta tus sentidos con cada sorbo"</p>
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
 <!-- Inicio Tarjetas-->
      <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Lunes </h2>

                    <p class="card-text">
                       
                    </p>
                    <img src="../../assets/img/carrucel1.jpg" class="img-fluid rounded mb-4 mb-lg-0">

                </div>
                <div class="card-footer">
                    <h5>2x1 en Toda nuestra linea de postres</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Martes</h2>

                    <p class="card-text">
                       
                    </p>
                    <img src="../../assets/img/carrucel2.jpg" class="img-fluid rounded mb-4 mb-lg-0">

                </div>
                <div class="card-footer">
                    <h5>2x1  en Toda nuestra linea de cafeteria</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Miercóles locos!</h2>
                    <p class="card-text"></p>
                    <img src="../../assets/img/pagos.png" class="img-fluid rounded mb-4 mb-lg-0">

                </div>
                <div class="card-footer">
                    
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Jueves</h2>
                    <p class="card-text"></p>
                    <img src="../../assets/img/carrucel3.jpg" class="img-fluid rounded mb-4 mb-lg-0">

                </div>
                <div class="card-footer">
                    <h5>Obten el 20% de descuento en todo tipo de bebidas</h5>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Viernes</h2>
                    <p class="card-text"></p>
                   
                </div>
                <div class="card-footer">
                    <h5>Consintamos a los pequeños del hogar los niños NO PAGAN hasta los 10 años</h5>
                </div>
            </div>
        </div>

    </div>
</div>
     <!--Fin Tarjetas-->

    

