<!--Inicio carrucel-->
<link href="" rel="stylesheet" type="text/css" />

<body>
    <div id="carrusel-contenido">
        <div id="carrusel-caja">
            <div class="carrusel-elemento">
                <img class="imagenes" src="../../assets/img/carrucel1.jpg">
            </div>
            <div class="carrusel-elemento">
                <img class="imagenes" src="../../assets/img/carrucel2.jpg">
            </div>
            <div class="carrusel-elemento">
                <img class="imagenes" src="../../assets/img/carrucel3.jpg">
            </div>
        </div>
    </div>
</body>
<!--Fin carrucel-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <br>
    <br> <br>
    <h2 style="color:rgb(120, 184, 120)" class="text-center text-uppercase">"Tu Cafetería"</h2>
    <p style="color:darkgreen; font-size: 20px;">"Despierta tus sentidos con cada sorbo"</p>
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <!-- Inicio Tarjetas-->
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-5">
                <div class="card h-100" style="box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.8)">
                    <div class="card-body">
                        <h2 class="card-title" style="text-align:center; color:darkgreen">Lunes</h2>

                        <p class="card-text">
                            <img src="../../assets/img/lunes.jpg" class="img-fluid rounded mb-4 mb-lg-0"
                                style="display:block; margin:auto;">
                        </p>


                    </div>
                    <div class="card-footer" style="background-color:#85b434;">
                        <h5 class="text-center">2x1 en Toda nuestra línea de Postres</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100" style="box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.8)">
                    <div class="card-body">
                        <h2 class="card-title" style="text-align:center; color:darkgreen">Martes</h2>

                        <p class="card-text">
                            <img src="../../assets/img/martes.jpg" class="img-fluid rounded mb-4 mb-lg-0"
                                style="display:block; margin:auto;">

                        </p>


                    </div>
                    <div class="card-footer" style="background-color:#85b434;">
                        <h5 class="text-center">2x1 en Toda nuestra línea de Cafetería</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100" style="box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.8)">
                    <div class="card-body">
                        <h2 class="card-title" style="text-align:center; color:darkgreen">Miércoles loco</h2>
                        <p class="card-text"></p>
                        <img src="../../assets/img/miercoles.jpg" class="img-fluid rounded mb-4 mb-lg-0"
                            style="display:block; margin:auto;">

                    </div>
                    <div class="card-footer" style="background-color:#85b434;">
                        <h5 class="text-center">Ven y disfruta de nuestros miércoles locos!
                            <br>
                            Promoción válida solo en nuestro Local
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100" style="box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.8)">
                    <div class="card-body">
                        <h2 class="card-title" style="text-align:center; color:darkgreen">Jueves</h2>
                        <p class="card-text">
                            <img src="../../assets/img/jueves.jpg" class="img-fluid rounded mb-4 mb-lg-0"
                                style="display:block; margin:auto;">
                        </p>


                    </div>
                    <div class="card-footer" style="background-color:#85b434;">
                        <h5 class="text-center">Obten el 20% de descuento en todo tipo de Bebidas</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-5">
                <div class="card h-100" style="box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.8)">
                    <div class="card-body">
                        <h2 class="card-title" style="text-align:center; color:darkgreen">Viernes</h2>
                        <p class="card-text">
                            <img src="../../assets/img/viernes.png" class="img-fluid rounded mb-4 mb-lg-0"
                                style="display:block; margin:auto;">
                        </p>

                    </div>
                    <div class="card-footer" style="background-color:#85b434;">
                        <h5 class="text-center">Consintamos a los pequeños del hogar, los niños NO PAGAN hasta los 10
                            años</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-5">
                <div class="card h-100" style="box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.8)">
                    <div class="card-body">
                        <h2 class="card-title" style="text-align:center; color:darkgreen">Sábado</h2>
                        <p class="card-text">
                            <img src="../../assets/img/sabado.jpg" class="img-fluid rounded mb-4 mb-lg-0"
                                style="display:block; margin:auto;">
                        </p>


                    </div>
                    <div class="card-footer" style="background-color:#85b434;">
                        <h5 class="text-center">Sábado en familia!</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--Fin Tarjetas-->

    <h2 style="color:rgb(131, 207, 131)" class="text-center text-uppercase">"Nuestro Café"</h2>
    <div id="taller" class="text-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/df3JeXVWYWA" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <br><br>