<!-- Page Content-->
<div class="container px-4 px-lg-5">
  <!-- Heading Row
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/img/1banner.jpg" alt="..." />
    -->

  <!--
       <div class="texto-encima">
            "TÓMATE UN <br> RESPIRO, TÓMATE UN <br> CAFÉ"
        </div>   -->
  <br><br>
  <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Nuestro menú 🍽</h2>
  <br>
  <section class="wrap">
    <!-- Menu cafe-->
    <div class="wrap-title-section">
      <!-- Plato Uno a la carta-->
      <h2>Cafeteria</h2>
    </div>
    <div class="wrap column-2 carta">
      <div class="plato-carta">
        <div class="img-plato-carta">
          <!-- cafe 1-->
          <img src="../../assets/img/cafe1.jpg" alt="">
        </div>
        <div class="title-plato-carta">
          <h4>Humita.</h4>
          <p>Prueba nuestras deliciosas humitas acompañadas de un deliciosa taza de café.</p>
        </div>
        <div class="precio-plato-carta">
          <span>$2,00</span>
        </div>
      </div>
      <div class="plato-carta">
        <div class="img-plato-carta">
          <!-- cafe 2-->
          <img src="../../assets/img/cafe2.jpg" alt="">
        </div>
        <div class="title-plato-carta">
          <h4>Empanada de morocho</h4>
          <p>Prueba nuestras deliciosa y tradicionales empanadas de morocho acompañado de un delicioso café.</p>
        </div>
        <div class="precio-plato-carta">
          <span>$2,00</span>
        </div>
      </div>
      <div class="plato-carta">
        <div class="img-plato-carta">
          <!-- cafe 3-->
          <img src="../../assets/img/cafe3.jpg" alt="">
        </div>
        <div class="title-plato-carta">
          <h4>Bolón y empanadas de verde.</h4>
          <p>Prueba nuestro delicisos bolones y empanadas rellenos de:
            pollo, carne, queso y chicharrón.</p>
        </div>
        <div class="precio-plato-carta">
          <span>$2,50</span>

        </div>
      </div>
      <div class="plato-carta">
        <div class="img-plato-carta">
          <!-- Cafe 4-->
          <img src="../../assets/img/cafe4.jpg" alt="">
        </div>
        <div class="title-plato-carta">
          <h4>Tamal.</h4>
          <p>Prueba nuestro delicioso y tradicional tamal Lojano.</p>
        </div>
        <div class="precio-plato-carta">
          <span>$2,00</span>
        </div>
      </div>
    </div>

    <!-- Mnenu para bebidas-->
    <div class="wrap-title-section">
      <!-- Plato Uno a la carta-->
      <h2>Bebidas</h2>
    </div>
    <div class="wrap column-2 carta">
      <div class="plato-carta">
        <div class="img-plato-carta">
          <!-- bebida1-->
          <img src="../../assets/img/bebida1.jpg" alt="">
        </div>
        <div class="title-plato-carta">
          <h4>Café.</h4>
          <p>Prueba nuestro delicioso café pasado.</p>
        </div>
        <div class="precio-plato-carta">
          <span>$2,00</span>
        </div>
      </div>
      <div class="plato-carta">
        <div class="img-plato-carta">
          <!-- bebida2-->
          <img src="../../assets/img/bebida2.jpg" alt="">
        </div>
        <div class="title-plato-carta">
          <h4>Morocho</h4>
          <p>Leche, huevo, escencia vainilla y canela.</p>
        </div>
        <div class="precio-plato-carta">
          <span>$1,75</span>
        </div>
      </div>
      <div class="plato-carta">
        <div class="img-plato-carta">
          <!-- bebida3-->
          <img src="../../assets/img/bebida3.jpg" alt="">
        </div>
        <div class="title-plato-carta">
          <h4>Chocolate.</h4>
          <p>Leche, chocolate y crema chantilly.</p>
        </div>
        <div class="precio-plato-carta">
          <span>$2,00</span>

        </div>
      </div>
      <div class="plato-carta">
        <div class="img-plato-carta">
          <!-- Cafe 4-->
          <img src="../../assets/img/bebida4.jpg" alt="">
        </div>
        <div class="title-plato-carta">
          <h4>Batidos.</h4>
          <p>Disfruta de nuestros sabores de batidos de frutas</p>
        </div>
        <div class="precio-plato-carta">
          <span>$2,50</span>
        </div>
      </div>
      <div class="plato-carta">
        <div class="img-plato-carta">
          <!-- Cafe 5-->
          <img src="../../assets/img/bebida5.jpg" alt="">
        </div>
        <div class="title-plato-carta">
          <h4>Jugos Naturales.</h4>
          <p>Disfruta de nuestros sabores de jugo de frutas</p>
        </div>
        <div class="precio-plato-carta">
          <span>$2,00</span>
        </div>
      </div>
      <div class="plato-carta">
        <div class="img-plato-carta">
          <!-- Cafe 6-->
          <img src="../../assets/img/bebida6.jpg" alt="">
        </div>
        <div class="title-plato-carta">
          <h4>Gaseosa.</h4>
          <p></p>
        </div>
        <div class="precio-plato-carta">
          <span>$1,50</span>
        </div>
      </div>
    </div>

    <!-- Mnenu platos fuertes-->
    <div class="wrap-title-section">
      <!-- Plato Uno a la carta-->
      <h2>Platos Fuertes</h2>
    </div>
    <div class="wrap column-2 carta">
      <div class="plato-carta">
        <div class="img-plato-carta">
          <!-- Plato 1-->
          <img src="../../assets/img/plato1.jpg" alt="">
        </div>
        <div class="title-plato-carta">
          <h4>Seco de chivo.</h4>
          <p>Prueba nuestro delicioso seco de chivo.</p>
        </div>
        <div class="precio-plato-carta">
          <span>$6,00</span>
        </div>
      </div>
      <div class="plato-carta">
        <div class="img-plato-carta">
          <!-- Plato 2-->
          <img src="../../assets/img/plato2.jpg" alt="">
        </div>
        <div class="title-plato-carta">
          <h4>Guatita</h4>
          <p>Prueba nuestra deliciosa guatita.</p>
        </div>
        <div class="precio-plato-carta">
          <span>$6,00</span>
        </div>
      </div>
      <div class="plato-carta">
        <div class="img-plato-carta">
          <!-- Plato 3-->
          <img src="../../assets/img/plato3.jpg" alt="">
        </div>
        <div class="title-plato-carta">
          <h4>Llapingacho.</h4>
          <p>Prueba nuestro delicisos Llapingacho.</p>
        </div>
        <div class="precio-plato-carta">
          <span>$7,00</span>
        </div>
      </div>
      <div class="plato-carta">
        <div class="img-plato-carta">
          <!-- Plato 4-->
          <img src="../../assets/img/plato4.jpg" alt="">
        </div>
        <div class="title-plato-carta">
          <h4>Fritada.</h4>
          <p>Pruba nuestro deliciosa Fritada.</p>
        </div>
        <div class="precio-plato-carta">
          <span>$9,00</span>
        </div>
      </div>

      <div class="plato-carta">
        <div class="img-plato-carta">
          <!-- Plato 5-->
          <img src="../../assets/img/plato5.jpg" alt="">
        </div>
        <div class="title-plato-carta">
          <h4>Menestras.</h4>
          <p>150 g. de pollo, chuleta o carne a la plancha
            menestra de frejol, papas fritas, ensalada
            y arroz.</p>
        </div>
        <div class="precio-plato-carta">
          <span>$5,00</span>
        </div>
      </div>

      <div class="plato-carta">
        <div class="img-plato-carta">
          <!-- Plato 6-->
          <img src="../../assets/img/plato6.jpg" alt="">
        </div>
        <div class="title-plato-carta">
          <h4>Churrasco.</h4>
          <p>150 g. de carne a la plancha, papas fritas,
            2 huevos fritos, ensalada rusa y arroz.</p>
        </div>
        <div class="precio-plato-carta">
          <span>$6,00</span>
        </div>
      </div>

    </div>

    <!--  Menu para postres-->
    <div class="wrap-title-section">
      <!-- Plato Uno a la carta-->
      <h2>Postres</h2>
    </div>
    <div class="wrap column-2 carta">
      <div class="plato-carta">
        <div class="img-plato-carta">
          <!--POstres1-->
          <img src="../../assets/img/postre1.jpg" alt="">
        </div>
        <div class="title-plato-carta">
          <h4>Mousse de chocolate</h4>
          <p>Prueba nuestro delicioso mousse de chocolate</p>
        </div>
        <div class="precio-plato-carta">
          <span>$5,00</span>
        </div>
      </div>
      <div class="plato-carta">
        <div class="img-plato-carta">
          <!-- POstres2-->
          <img src="../../assets/img/postre2.jpg" alt="">
        </div>
        <div class="title-plato-carta">
          <h4>Citron fruits</h4>
          <p>Bizcocho de limón y verbena, decorado con frutillas y arándanos frescos.</p>
        </div>
        <div class="precio-plato-carta">
          <span>$4,90</span>
        </div>
      </div>
      <div class="plato-carta">
        <div class="img-plato-carta">
          <!-- POstres3-->
          <img src="../../assets/img/postre3.jpg" alt="">
        </div>
        <div class="title-plato-carta">
          <h4>Infiniment Passion</h4>
          <p>Cheesecake con glaseado de maracuyá y naranja.</p>
        </div>
        <div class="precio-plato-carta">
          <span>$5,70</span>

        </div>
      </div>
      <div class="plato-carta">
        <div class="img-plato-carta">
          <!-- POstres4-->
          <img src="../../assets/img/postre4.jpg" alt="">
        </div>
        <div class="title-plato-carta">
          <h4>Tarta de manzana y nuez</h4>
          <p>Delicioso pastel de manzana relleno de nueces</p>
        </div>
        <div class="precio-plato-carta">
          <span>$2,50</span>
        </div>
      </div>
      <div class="plato-carta">
        <div class="img-plato-carta">
          <!-- POstres5-->
          <img src="../../assets/img/postre5.jpg" alt="">
        </div>
        <div class="title-plato-carta">
          <h4>Tiramisú.</h4>
          <p> láminas de masa de bizcocho o bizcochuelo empapadas en café con licor y que se alternan con una crema.
          </p>
        </div>
        <div class="precio-plato-carta">
          <span>$5,00</span>
        </div>
      </div>
      <div class="plato-carta">
        <div class="img-plato-carta">
          <!-- POstres6-->
          <img src="../../assets/img/postre6.jpg" alt="">
        </div>
        <div class="title-plato-carta">
          <h4>Selva negra</h4>
          <p>Delicioso pastel de chocolate</p>
        </div>
        <div class="precio-plato-carta">
          <span>$5,50</span>
        </div>
      </div>
    </div>
  </section>
  <br><br><br>
</div>