<body appCBody>
    <div class="container px-4 px-lg-5">
        <div class="card text-white py-4" style="background-color: transparent;">
            <div class="row gx-4 gx-lg-5 align-items-center " style=" margin: 50px;">
                <div class="col-lg-5">

                    <h4 class="text-white"> <u>Cliente</u>, llena tus datos:</h4>
                    <br>

                    <div *ngIf="error!==''"
                        style="background-color: rgb(233, 32, 32); display: flex; align-items: center;">
                        <p style="margin: 5px 10px; padding: 5px 10px; color: white; border-left: 2.5px solid white;">
                            Error: {{error}}</p>
                    </div>
                    <div *ngIf="success!==''"
                        style="background-color: rgb(5, 148, 0); display: flex; align-items: center;">
                        <p style="margin: 5px 10px; padding: 5px 10px; color: white; border-left: 2.5px solid white;">
                            Muy bien: {{success}}</p>
                    </div>

                    <form class="user" #formReg="ngForm" (ngSubmit)="registro(formReg)">
                        <h5 style="text-align: center;"> Información General</h5>
                        <div class="form-group">
                            <input type="text" name="nombres" #nombres="ngModel" [(ngModel)]="reg.nombre" required
                                pattern="[a-zA-Z]+" class="form-control form-control-user"
                                placeholder="Nombres Completos" />
                            <span *ngIf="nombres.touched && !nombres.valid">
                                * Nombre es obligatorio
                            </span>
                        </div>


                        <br>

                        <div class="form-group">
                            <input type="text" name="apellidos" #apellidos="ngModel" [(ngModel)]="reg.apellido" required
                                pattern="[a-zA-Z]+" class="form-control form-control-user"
                                placeholder="Apellidos Completos" />
                            <span *ngIf="apellidos.touched && !apellidos.valid">
                                * Apellido es obligatorio
                            </span>
                        </div>
                        <br>

                        <div class="form-group">
                            <input type="text" name="domicilio" #domicilio="ngModel" [(ngModel)]="reg.domicilio"
                                required class="form-control form-control-user" placeholder="Domicilio" />
                            <span *ngIf="domicilio.touched && !domicilio.valid">
                                * Domicilio es obligatorio
                            </span>
                        </div>
                        <br>

                        <div class="form-group">
                            <input type="text" name="telefono" #telefono="ngModel" [(ngModel)]="reg.telefono" required
                                pattern="[0-9]+" class="form-control form-control-user" placeholder="Teléfono" />
                            <span *ngIf="telefono.touched && !telefono.valid">
                                * Teléfono es obligatorio
                            </span>
                        </div>
                        <br>
                        <h5 style="text-align: center;"> Credenciales</h5>

                        <div class="form-group">
                            <input type="text" name="username" #username="ngModel" [(ngModel)]="reg.user" required
                                pattern="" class="form-control form-control-user" placeholder="Usuario" />
                            <span *ngIf="username.touched && !username.valid">
                                * Usuario es obligatorio
                            </span>
                        </div>
                        <br>

                        <div id="password" class="form-group">
                            <input type="password" name="password" [(ngModel)]="reg.password" #password="ngModel"
                                required class="form-control form-control-user" placeholder="Contraseña" />
                            <span *ngIf="password.touched && !password.valid">
                                * Contraseña es obligatorio
                            </span>
                        </div>
                        <br>


                        <button [disabled]="!formReg.form.valid" class="btn btn-primary btn-sucess btn-block"> Continuar
                        </button>
                        <a [routerLink]="['/login']" class="btn btn-link">Cancelar</a>

                    </form>


                </div>

                <div class="col-lg-2">

                </div>

                <div class="col-lg-5">
                    <h1 class="font-weight-light">{{title}} :)</h1>
                    <p>
                        <br><br>
                        Para recibir tus facturas, información de <br> promociones y ofertas, registra tu correo.
                    </p>
                </div>

            </div>

        </div>
    </div>

</body>