<div class="container px-4 px-lg-5 sm-5">
      <!--Seccion Cafeteria-->
      <h1 class="page-section-heading text-center text-uppercase text-secondary mb-0">Carfeteria</h1>

      <!-- Icon Divider-->
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
        </div>
        <h2>Realiza Tu Pedido </h2>
        <h4>Precione para agregar a tu orden</h4>
        <br />
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
            <thead>
              <tr>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Precio</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let plato of platos">
                <td [routerLink]="['/plato',plato._id]" >{{ plato.imagen }}</td>
                <td [routerLink]="['/plato',plato._id]" >{{ plato.nombre }}</td>
                <td [routerLink]="['/plato',plato._id]">{{ plato.precio }}</td>
              </tr>
            </tbody>
          </table>
</div>
