<div class="container px-4 px-lg-5 sm-5">
      <!--Seccion Cafeteria-->
      <h1 class="page-section-heading text-center text-uppercase text-secondary mb-0">Carfeteria</h1>

      <!-- Icon Divider-->
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
        </div>
        <h2>Realiza Tu Pedido </h2>
        <h4>Precione para agregar a tu orden</h4>
        <br />
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
            <thead>
              <tr>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Precio</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let plato of platos">
                <td><img src="{{url+'get-imagen/'+plato.imagen}}" style="width: 100px; height: 50px;"/></td>
                <td [routerLink]="['/plato',plato._id]" [routerLinkActive]="'active'">{{ plato.nombre }}</td>
                <td [routerLink]="['/plato',plato._id]" [routerLinkActive]="'active'">$ {{ plato.precio }}</td>
               
              </tr>
            </tbody>
          </table>

          <h2>TU PEDIDO </h2>
        <br />
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
            <thead>
              <tr>
                <th>Nombre del Cliente</th>
                <th>Plato</th>
                <th>Cantidad</th>
                <th>Precio</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pedido of pedidos">
                <td >{{ pedido.nombrePropietario }}</td>
                <td>{{pedido.nombrePlato }}</td>
                <td >{{ pedido.cantidad }}</td>
                <td >${{ pedido.precio }}</td>
              </tr>
            </tbody>
          </table>


</div>
