<h2>DETALLE DE SU PEDIDO</h2>
<div class="data">
    <h3><img src="{{ plato.imagen }}" width="10px" height="10px"/></h3>
    <h3>{{plato.nombre}}</h3>
    <h3>{{plato.precio}}</h3>
    <p *ngIf="confirm==false">
        <a [routerLink]="['/editar-plato',plato._id]" class="button-edit">Editar</a>
        <br>
        <a (click)="setConfirm(true)" class="button-delete">Borrar</a>
    </p>
    <p *ngIf="confirm==true">
        <span class="confirm">Estas seguro de eliminar el plato?</span><br> <br>
        <a (click)="setConfirm(false)" class="button-edit">Cancelar</a>
        <br>
        <a (click)="borrarplato(plato._id)" class="button-delete">Eliminar definitivamente</a>
    </p>
</div>
